{% extends 'base.html.twig' %}

{% block title %}Edit Dom{% endblock %}

{% block body %}
    <h1>Edit Dom</h1>

    {{ include('dom/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_dom_index') }}">back to list</a>

    {{ include('dom/_delete_form.html.twig') }}
{% endblock %}
